

.box1{
   border: 1px solid black;
}
.color1{
    color: purple;
}
.color2{
    color:purple;
}
#color3{
   border: 5px solid blue;
}
#color4{
  border: 5px solid blue;
}
#color5{
    border: 5px solid blue;
}
#color6{
color:red;
}