{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Magodo Security </h1>
      <p>Magodo security was founded in 2020 by Stark Industries, We provide security to individuals living
          within Magodo and its environs. Our mode of operation is simple, all you need to do is call, flash or text
          us with the phone number you used in registering on our website. We will get to your house in minutes.
          If eventually the phone number you registered with is unavailable, you can text that number to us or text
          your username, or your gmail/email address used in registering, you can also just text the house and
          street name. We will get to you in minutes.
      </p>
  </div>
{% endblock %}
